# Compiled Dirs (http://nodejs.org/api/addons.html)
client/dist/bundle.js
#dist/

# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
bower_components
npm-debug.log
## API KEYS ##

#sensative config file data
config
configBAK

#bundle
.babelrc
package-lock.json
.vscode
client/utils/oldContent.js