*, body, html {
  margin: 0;
  padding: 0;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background: white;
  border-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
}

#diceTray {
  grid-column-start: main;
  grid-column-end: main;
  grid-row-start: bottom;
  grid-row-end: bottom;
}