*, body, html {
  margin: 0;
  padding: 0;
}

#gameContainer {
  display: grid;
  width: 98vw;
  height: 98vh;
  grid-gap: .25em;
  grid-template-columns: 1fr 8fr 2fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
  "gamedata users settings"
  "tokens game log"
  "tkn dice logchat";
}

canvas {
  background: #11ffee00;
  position:relative;
  z-index:1;
}

#diceTray {
  grid-area: dice;
  background-color: rgb(51, 253, 186);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#battleMap {
  grid-area: game;
  overflow: auto;
  position: relative;
  z-index: 1;
}


#tokenlist {
  grid-area: tokens;
  position:relative;
  z-index: 8;
  padding-left: 0.5em;

}

#battleLog {
  grid-area: log;
  background-color:rgb(51, 53, 54);
  color: #47ddffdb;
  overflow-y: scroll;
}

#gameChat {
  grid-area: logchat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  background-color: #010101;
}
#textSubmit {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#textGame {
  width: 100%;
  resize: none;
  background-color: rgb(51, 53, 54);
  padding: 1px;
  height: 4em;
  color: #eaeaea;
  caret-color: #eaeaea;
  border: 2px solid #ad973e;
}

.custom-bg {
  background: radial-gradient(circle closest-side, #666, #999 575%);
}

#userProfiles {
  grid-area: users;
  background-color: aquamarine;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#settings {
  grid-area: settings;
  background-color: aquamarine;
}

.over {
  border: 3px solid;
}

.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #151515;
  display: grid;
  grid-template-columns: 6fr 1fr 50px;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "nav settings c"
  "main sidebar e";
  width: 100vw;
  height: 100vh;
}

.navdash {
  background-color: #010101;
  grid-area: nav;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#settings {
  background-color: #010101;
  grid-area: settings;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
 }
 
#c {
  background-color: #010101;
}

#gameListItem {
  background: #151515;
  grid-area: main;

  justify-content: center;
  align-items: flex-start;
}

#sidebar {
  background: #010101;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
}

.gameListItem {
  background: #151515;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: 
  "icon gameName joinButton"
  "icon gameId joinButton"
  "icon gameDesc joinButton";
  
}

#icon {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;

}

#gameName {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: #ad973e;
  font-size: 2.2rem;

}

#gameId {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: #a5a5a5;
  font-size: 1.8rem;
}

#gameDesc {
  display: flex;
  justify-content: flex-start;
  color: #a5a5a5;
  font-size: 1.8rem;
}

#joinButton {
  background: #151515;
  display: flex;
  justify-content: center;
}

#joinButtonSpace {
  background: #151515;
}

.gameElements {
  border-bottom: 1px solid #ad973e;
}

