*, body, html {
  margin: 0;
  padding: 0;
}

#gameContainer {
  display: grid;
  width: 98vw;
  height: 98vh;
  grid-gap: 1em;
  grid-template-columns: 1fr 8fr 2fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
  "users users settings"
  "tokens game log"
  ". dice logchat"
}

canvas {
  background: white;
}

#diceTray {
  grid-area: dice;
  background-color: slategray;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#battleMap {
  grid-area: game;
  overflow: auto;
  position: relative;
  z-index: auto;
}

#tokenlist {
  grid-area: tokens;
  position:relative;
  z-index: 8;
}

#battleLog {
  grid-area: log;
  background-color: aquamarine;
}

#userProfiles {
  grid-area: users;
  background-color: aquamarine;
}

#settings {
  grid-area: settings;
  background-color: aquamarine;
}

#token-layer {
  position: absolute;
  background:transparent;
}

#canvas-top {
  position: relative;
  background: transparent;
  z-index: 5;
  left:0;
}


.over {
  border: 3px solid;
}


.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
};
